 <!--================Projects Area =================-->
 <section class="projects_area pad_top">
    <div class="main_title">
        <h2>Latest COmpleted Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
      </div>
    <div class="row m0" >
      <div class="projects_item wd_18">
        <img src="assets/img/projects/projects-1.jpg" alt="">
        <div class="hover">
          <h4>Alex Complex for esidence</h4>
          <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
        </div>
      </div>
      <div class="projects_item wd_18">
        <img src="assets/img/projects/projects-2.jpg" alt="">
        <div class="hover">
          <h4>Alex Complex for esidence</h4>
          <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
        </div>
      </div>
      <div class="projects_item wd_44">
        <img src="assets/img/projects/projects-3.jpg" alt="">
        <div class="hover">
          <h4>Alex Complex for esidence</h4>
          <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
        </div>
      </div>
      <div class="projects_item wd_18">
        <img src="assets/img/projects/projects-4.jpg" alt="">
        <div class="hover">
          <h4>Alex Complex for esidence</h4>
          <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create  slimmer.</p>
        </div>
      </div>
    </div>
  </section>
  <!--================End Projects Area =================-->