<!--================About Area =================-->
<section class="about_area p_120">
    <div class="container">
      <div class="about_inner row">
        <div class="col-lg-6">
          <div class="about_left_text">
            <h6>Brand new app to blow your mind</h6>
            <h3>We’ve made a life <br />that will change you</h3>
            <h5>We are here to listen from you deliver exellence</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
            <a class="main_btn" href="#">Get Started Now</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid" src="assets/img/about-1.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================End About Area =================-->